src/main/mule/first_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3bd2f3d2-3e56-4390-be5c-d7c5aedcc4e5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bdfc2add-1cbb-469c-9caf-d1d3b3ad5040" >
		<db:my-sql-connection host="localhost" port="3306" user="mariana" password="admin" database="training" />
	</db:config>
	<flow name="first_apiFlow_Get" doc:id="1c50193d-6d21-49ed-8759-e9059edb130e" >
		<http:listener doc:name="Listener" doc:id="0a5c8b7d-6206-4ce2-adf0-8138d74bd334" config-ref="HTTP_Listener_config" path="/Flights" allowedMethods="GET"/>
		<db:select doc:name="Select Flights" doc:id="610b72cb-0bae-4f29-aa2c-4310fa2d66e2" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM flight]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c4769bb4-1635-4c81-bcf6-aacf9f57242b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4ca0e5b4-08e8-4ec3-bf96-916bd7f91590" />
	</flow>
	<flow name="first_apiFlow1_GetId" doc:id="4fc0bb91-0c69-4de1-8a6d-5ee015fdb4ce">
		<http:listener doc:name="Listener" doc:id="d33ced66-200c-4e9d-b862-2fbf3c8c42e4" config-ref="HTTP_Listener_config" path="/Flights/{ID}" allowedMethods="GET" />
		<db:select doc:name="Select Flights Id" doc:id="9d856ff3-95e3-491e-b3fb-7da323572c4f" config-ref="Database_Config" transactionalAction="NOT_SUPPORTED">
			<db:sql><![CDATA[SELECT *
FROM flight
WHERE ID = :ID]]></db:sql>
			<db:input-parameters><![CDATA[#[{'ID': attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="9c92a902-28d0-4432-9699-42ee5522a409">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="de550e28-643c-447a-b86d-9d9e0c2da5de" />
	</flow>
	<flow name="first_apiFlow_Post" doc:id="ea194ea9-b87c-46c5-ad55-8bbe06d1d44a" >
		<http:listener doc:name="Listener" doc:id="1efdcf72-40d1-4b6b-ad04-7dee7355cd68" config-ref="HTTP_Listener_config" path="/Flights" allowedMethods="POST"/>
		<db:insert doc:name="Insert" doc:id="07549392-0cf9-485f-8b3d-79894308609c" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into flight (code,price,departureDate,origin,destination,emptySeats,totalSeats)
values (:code,:price,:departureDate,:origin,:destination,:emptySeats,:totalSeats);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
   "code": payload.code,
	"price": payload.price,
	"departureDate": payload.departureDate,
    "origin": payload.origin,
    "destination": payload.destination,
    "emptySeats": payload.emptySeats,	
	"totalSeats": payload.totalSeats
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value='{"messages": "vuelo añadido"}' doc:name="Set Payload" doc:id="3a3e9b95-789e-4689-9c49-399698a65be6" />
	</flow>
	<flow name="first_apiFlow_Update" doc:id="9897284d-9efc-46c8-b2e8-a299ad76c2c8" >
		<http:listener doc:name="Listener" doc:id="eb12f2ba-8d6f-470c-aa26-8fbefb2522ed" config-ref="HTTP_Listener_config" path="/Flights/{ID}" allowedMethods="PUT" />
		<db:update doc:name="Update" doc:id="e325c84c-9a40-438a-a574-3b9f2fa98fd1" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE flight
SET price = :price,
    code = :code,
    departureDate = :departureDate,
    origin = :origin,
    destination = :destination,
    emptySeats = :emptySeats,
    totalSeats = :totalSeats
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"ID": attributes.uriParams.ID,
    "code": payload.code,
	"price": payload.price,
	"departureDate": payload.departureDate,
    "origin": payload.origin,
    "destination": payload.destination,
    "emptySeats": payload.emptySeats,	
	"totalSeats": payload.totalSeats
}]]]></db:input-parameters>
		</db:update>
		<set-payload value='{"messages": "flight updated"}' doc:name="Set Payload" doc:id="91caecde-06c7-4eb2-abe8-e7f4b0f2653d" />
	</flow>
	<flow name="first_apiFlow_Delete" doc:id="a11db1e8-254e-4c27-af30-48e88405f5b3" >
		<http:listener doc:name="Listener" doc:id="c0000e5c-d3a3-4e2e-8ec5-5d05597440bc" config-ref="HTTP_Listener_config" path="/Flights/{ID}" allowedMethods="DELETE" />
		<db:delete doc:name="Delete" doc:id="aae1e67f-9e34-4a92-82a3-ac216154f221" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM flight electronic WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{"ID": attributes.uriParams.ID}]]]></db:input-parameters>
		</db:delete>
		<set-payload value='{"messages": "deleted"}' doc:name="Set Payload" doc:id="de23b67c-fffb-4650-83ce-6462c4891836" />
	</flow>
</mule>
